<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation='http://plugin.powerschool.pearson.com plugin.xsd'
        name="LPS-Variance-Dropdown-Live Plugin"
        version="1.0"
        description="Making school dropdown list live in the Variance screen.">
    <publisher name="John Sandoval">
    <contact email="john.sandoval@lawrence.k12.ma.us"/>
    </publisher>
</plugin>
